 .AddState {
     padding-top: 10px;
     padding-left: 10px;
     color: rgb(18, 188, 52);

 }

 .bOx {
     background: rgb(237, 231, 231);
     height: 410px;



 }

 .Line {
     border-bottom: 3px solid #256fb9;
     margin-top: px;
 }

 .margincountry {
     margin-top: 25px;
     margin-left: 150px;
 }


 .role {
     margin-top: 25px;
     margin-left: 150px;


     
 }

.password {
    margin-top: 25px;
    margin-left: 120px;



}
 .Password {
     margin-top: 25px;
     margin-left: 50px;



 }
 .zzz {
     display: flex;
 }

 .button {
     width: 10%;
     margin-top: 15px;
     background: rgb(16, 219, 165);
 }

 .BUTTON {
     margin-top: 35PX;
     margin-left: 350PX;
 }

 .maindiv {
     width: 100%;
     margin-top: 15px;
     margin-left: 15px;
     margin-right: 15px;
 }