 .ADdstaTe {
     padding-top: 10px;
     padding-left: 10px;
    padding-right: 10px;
     width: 100%;
 }

 .box {
     background: rgb(237, 231, 231);
     height: 360px;



 }

 .Line {
     border-bottom: 3px solid #256fb9;
     margin-top: px;
 }

 

 .zzz {
     display: flex;
     margin-left: 300px;
     margin-top: 30px;
 }
 .Ad{
    color: blue;
    padding-top: 10px;
        padding-left: 10px;
 }
 
 
    
 