.parent{
    width: 100%;
    background-color: #ecf0f5;
}

.dashboard-start{

    background-color: #ecf0f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 13px;
}
.title-dashboard{
    font-size: 26px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 300;
    margin-left: 28px;
}
.title-opacity{
    opacity: 0.6;
    margin-left: 4px;
}
.Home{
    color: black;
    text-decoration: none;
    margin-left: 3px;
}
.header-content{
    display: flex;
    list-style-type: none;
    background: transparent;
    font-size: 12px;
    margin-right: 33px;
}
.main{
    height: 180px;
    margin: 28px;
    width: 30.33%;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(70, 201, 181, 0.3);
}
.parent-item{
    display: flex;
    justify-content: space-between;
}
.inner{
    margin-left: 12px;
}
.h1{
    font-size: 62px;
    color: lightseagreen;
}
.icon{
    font-size: 62px;
    color: lightseagreen;
    margin-right: 10px;
}
.small-box-footer{
    padding: 5px 0;
    color: #1976d2;
    background: #fff;
    border-top: 2px solid #1976d2;
}

.footer-contant{
    text-align: center;
    margin-top: 22px;
    border-top-color: 2px solid blue;
    border-top: 2px solid lightseagreen;
    padding-top: 4px
}
.info{
    text-decoration: none;
    color: black;
}
.main-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info:hover{
    color: black;
}